project.name=someapp

project.module.java.type=jar
project.module.web.type=war
project.module.web.WEB-INF=etc/web

project.module.ear.type=ear
project.module.ear.META-INF=etc/ear

base.package=com.jfred.someapp
base.web.dir=src/web
base.source.dir=src/java
base.test.dir=test/java

#build.resourcefile=etc/env/${build.environment}.properties

database.driver=org.hsqldb.jdbcDriver
database.url=jdbc:hsqldb:file:build/db
database.username=sa
database.password=